@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trocchi&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* 
  font-family: "Trocchi", serif;
  font-family: "Playfair Display", serif;
*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #414141;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.navbar-brand img {
  max-width: 150px;
}

.navbar-nav {
  align-items: center;
}

.nav-link {
  color: #0c3b5d !important;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link span {
  border-bottom: 2px solid;
}

.nav-social a {
  background-color: #0c3b5d;
  color: #fff;
  border-radius: 3px;
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.btn-donate {
  color: #cf0025 !important;
  font-weight: 700;
  border-radius: 0;
  background-color: #fff;
  padding: 0.7rem 2rem !important;
  margin-left: 15px;
  transition: 0.3s;
  box-shadow: 0 0 8px 0px #00000033;
}

.btn-donate:hover {
  color: #fff !important;
  background-color: #cf0025;
}

img {
  max-width: 100%;
}

.text-dark-blue {
  color: #0c3b5d;
}

.text-red {
  color: #ff2d20;
}

.text-white2 {
  color: #cacfdd;
}

.image-box {
  position: relative;
}

.image-box img {
  width: calc(100% - 20px);
}

.image-box-top-left {
  padding-top: 20px;
  text-align: end;
}

.image-box-bottom-right {
  text-align: start;
  padding-top: 0px;
  padding-bottom: 20px;
}

.image-box-bottom-left {
  text-align: end;
  padding-top: 0px;
  padding-bottom: 20px;
}

.image-box::before {
  content: "";
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: #f4f4f4;
  z-index: -1;
  top: 0;
  left: 0;
}

.image-box-bottom-right::before {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
}

.image-box-bottom-left::before {
  top: auto;
  left: 0;
  right: auto;
  bottom: 0;
}

.image-box-blue::before {
  background: #002d4b;
}

.banner {
  /* background-color: #0c3b5d; */
  color: #002d4b;
  /* text-align: center; */
  padding-top: 2rem;
}

.banner-title {
  font-family: "Trocchi", serif;
  font-size: 2.1rem;
  line-height: 1.2;
}

.banner-sub-heading {
  font-size: 5rem;
  color: #cacfdd;
  font-weight: 900;
  line-height: 1;
}

.banner-heading {
  font-size: 5rem;
  font-weight: bold;
  line-height: 0.85;
  padding-top: 1.5rem;
}

.banner-btn {
  background-color: #ff2d20;
  border-radius: 30px;
  color: #fff;
  font-size: 1.75rem;
  padding: 0.5rem 3rem;
  text-decoration: none !important;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 500;
}

/* newsletter */

.newsletter-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-form-full {
  max-width: none;
}

.newsletter-form-full .form-check-label {
  font-size: 0.9rem;
}

.form-desktop-1 {
  width: 49%;
}

.form-desktop-full {
  width: 100%;
}

.form-desktop-3 {
  margin: auto;
}

.form-check {
  margin-bottom: 0; /* Remove default margin for checkbox */
}

input.form-control {
  border: none;
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #000;
  border-radius: 0 !important;
  padding-left: 0;
}

.form-check-label {
  user-select: none;
}

.btn-red {
  background-color: #fff;
  border-radius: 0;
  color: #cf0025;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none !important;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 500;
  border: none !important;
  outline: none !important;
  box-shadow: 0 0 8px 0px #00000033;
  transition: 0.3s;
}

.btn-red:hover {
  background-color: #cf0025;
  color: #fff;
}

.bg--light {
  background-color: #f4f4f4;
}

.bg-blue {
  background-color: #0c3b5d;
}

.blue-section-heading-1 {
  font-size: 5.5vw;
  line-height: 0.7;
}

.blue-section-heading-2 {
  font-size: 4vw;
}

.issue-image {
  height: 85px;
}

.btn-light-blue {
  background-color: #7c87ab;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none !important;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 500;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.vote-para {
  font-size: 1.7rem;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
}

.banner2 {
  background-color: #0c3b5d;
  color: #cacfdd;
}

.banner-heading2 {
  font-size: 3rem;
  margin: 0;
}
.text-link {
  text-decoration: none !important;
  color: inherit;
  font-style: italic;
  font-weight: 600;
}
ul {
  padding-left: 1.1rem;
}
.squar-list {
  padding-left: 1.05rem;
  list-style-type: square;
}

footer {
  background-color: #414141;
}

footer .footer-logo {
  width: 150px;
  margin-bottom: 20px;
}

.footer-social a {
  background-color: #fff;
  color: #414141;
  border-radius: 3px;
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}

.footer-links-wrapper {
  max-width: 170px;
  margin-left: auto;
}

.footer-link {
  display: flex;
  color: #fff;
  line-height: 1.15;
}

.footer-donate-btn {
  color: #fff !important;
  font-weight: 500;
  border-radius: 0;
  background-color: #6b6b6b;
  padding: 0.5rem 1.25rem !important;
  display: inline-block;
  transition: 0.3s;
  margin-top: 10px;
  box-shadow: 0 0 8px 0px #00000033;
}

footer a {
  text-decoration: none !important;
}

.navbar-toggler {
  border: none;
  font-size: 2rem;
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 1400px) {
  .banner-title {
    font-size: 1.85rem;
  }

  .banner-sub-heading {
    font-size: 4.5rem;
  }

  .banner-heading {
    font-size: 5rem;
  }

  .blue-section-heading-1 {
    font-size: 5vw;
    line-height: 0.8;
  }

  .blue-section-heading-2 {
    font-size: 3.5vw;
  }
}

@media (max-width: 1200px) {
  .banner-sub-heading {
    font-size: 3.75rem;
  }

  .banner-heading {
    font-size: 5rem;
  }

  .banner-title {
    font-size: 1.5rem;
  }
  .banner-btn {
    font-size: 1.65rem;
  }

  .newsletter-form {
    flex-wrap: wrap;
  }

  .form-desktop-2 {
    /* width: 32%; */
  }
}

@media (max-width: 992px) {
  .btn-donate {
    margin: 10px 0;
    text-align: center;
  }
  .nav-social {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .banner-sub-heading {
    font-size: 2rem;
  }

  .banner-heading {
    font-size: 4rem;
  }

  .banner-title {
    font-size: 1.15rem;
  }
  .banner-btn {
    font-size: 1.25rem;
    padding: 0.5rem 2rem;
  }

  .blue-section-heading-1 {
    font-size: 4vw;
    line-height: 0.8;
  }

  .blue-section-heading-2 {
    font-size: 2.75vw;
  }

  .banner-heading2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 1.25rem;
  }
}

@media (max-width: 767px) {
  .banner-sub-heading {
    font-size: 5rem;
  }

  .banner-heading {
    font-size: 12vw;
  }

  .banner-title {
    font-size: 1.8rem;
  }
  .banner-btn {
    font-size: 2rem;
    position: absolute;
    bottom: 30px;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    padding: 0.5rem 3rem;
  }

  .newsletter-form {
    flex-direction: column;
  }

  .form-desktop-1,
  .form-desktop-2 {
    width: 100%;
  }

  .blue-section-heading-1 {
    font-size: 9vw;
    line-height: 1;
    margin-top: 2rem;
  }

  .blue-section-heading-2 {
    font-size: 6.5vw;
  }

  .banner2 .container {
    max-width: none;
    padding: 0;
    text-align: center;
  }
  .banner-heading2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 576px) {
  .blue-section-heading-1 {
    font-size: 14vw;
  }

  .blue-section-heading-2 {
    font-size: 10vw;
  }

  .footer-links-wrapper {
    max-width: none;
    margin: 30px auto auto auto;
  }
}

.ratufa-popup-container {
  min-width: 250px;
}
